
    <div class="contenedor"> 
        <div class="container">
            <section class="h-100 gradient-form" style="background-color: #eee;">
              <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                      <div class="row g-0">
                        <div class="col-lg-6">
                          <div class="card-body p-md-5 mx-md-4">
            
                            <div class="text-center">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                style="width: 185px;" alt="logo">
                              <h4 class="mt-1 mb-5 pb-1">LOGIN</h4>
                            </div>
            
                            <form>
                              <p>Ingresa tu usuario</p>
            
                              <div class="form-outline mb-4">
                                <input type="email" #user class="form-control"
                                  placeholder="usuario" />
                                <label class="form-label"  for="form2Example11">Username</label>
                              </div>
            
                              <div class="form-outline mb-4">
                                <input type="password" #contrasena class="form-control" />
                                <label class="form-label"  for="form2Example22">Password</label>
                              </div>
            
                              <div class="text-center pt-1 mb-5 pb-1">
                                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="enviar(user.value, contrasena.value)">Log
                                  in</button>
                                <a class="text-muted" href="#!">Forgot password?</a>
                              </div>
            
                              <div class="d-flex align-items-center justify-content-center pb-4">
                                <!-- directiva   -->
                                <p *ngIf="registrado; else Incorrecto">{{mensaje}}  {{usuario}}</p>

                                   <ng-template #Incorrecto>
                                        <p>{{mensaje}}
                                        </p>
                                    </ng-template>   
                                
                              </div>
                              <div class="d-flex align-items-center justify-content-center pb-4">
                                  <button type="button" class="btn btn-outline-danger" >Create new</button>
                              </div>
                              
                            </form>
            
                          </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                          <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                              <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="">
                              <div class="contenido-lista">
                                <div *ngIf="registrado; else Mallista">
                                    <!-- directiva for -->
                                <ul *ngFor="let listas of lista">
                                    <li>{{listas}}</li>
                                </ul>   
                                </div>
                                <ng-template #Mallista>
                                    <p>
                                    </p>
                                </ng-template>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
      </div>
      
    </div>


    
    



